{% extends 'base.html.twig' %}




{% block body %}

<!-- ================= CATEGORY FORM ================= -->
<div class="form-section form-category">
        <h5 class="mb-3">Update Category</h5>
        {{ form_start(categoryForm, { attr: { novalidate: 'novalidate' } }) }}

        <div class="mb-3">
            {{ form_label(categoryForm.name, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(categoryForm.name, { attr: { class: 'form-control' } }) }}
            {{ form_errors(categoryForm.name) }}
        </div>

        <div class="input-group">
            <span class="input-group-text">Description</span>
            {{ form_widget(categoryForm.description, { attr:{ class: "form-control" } }) }}
            {{ form_errors(categoryForm.description) }}
        </div>

        <div class="btn-section">
            <button name="category_submit" class="btn btn-primary">{{ button_label | default('Save') }}</button>
        </div>

        {{ form_end(categoryForm) }}
</div>

{% endblock %}